.admin-panel {
    background-color: #f0f0f0;
    padding: 150px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(181, 154, 3, 0.1);
}

.admin-panel h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.user-list {
    border: 1px solid #ccc;
    padding: 50px;
    border-radius: 8px;
    background-color: #fff;
}

.user-list h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.user-list ul {
    list-style-type: none;
    padding: 0;
}

.user-list li {
    margin-bottom: 15px;
}

.user-list p {
    margin: 5px 0;
}

.user-list select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.user-list option {
    padding: 8px;
}

.nav2{
    width: 400px;
    height: 100px;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
  
thead {
    background-color: #f2f2f2;
}
  

th {
    padding: 8px;
    text-align: left;
    border-right: 1px solid #ddd; /* Vertical border */
}
  
td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd; /* Vertical border */
}