body {
    background-color: rgba(245, 238, 217, 0.9);
}

img {
    width: 200px;
    margin-top: -10px;
}

.feedback-list {
    margin-top: 85%;
    padding: 5%;
}

.feedback {
    background-color: white;
    border-radius: 10px;
    padding: 2%;
    margin-bottom: 10px;
    margin-top: 10px;
}

form {
    padding-right: 10%;
    padding-left: 10%;
}

.input {
    background-color: white;
}

button {
    background-color:rgba(255, 210, 76, 0.9);
    padding: 2%;
    border-radius: 10px;
    border: none;
    margin-bottom: 40px;
}