@font-face {
    font-family: 'Serif';
    src: url('../resources/fonts/RomanSerif.ttf') format('truetype');
}

h1 {
    font-family: 'Serif', sans-serif;
    letter-spacing: 2px;
    font-size: 30px;
    margin-top: 30px;
}

.home {
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

img {
    margin-top: 275%;
    width: 110%;
    height: 110%;
    object-fit: cover;
}

p {
    font-size: 15px;
    font-weight: lighter;
    font-family: 'Serif', sans-serif;
    line-height: 2.5;
    text-align: justify;
}

h3 {
    font-family: 'Serif', sans-serif;
    letter-spacing: 2px;
    font-size: 18px;
    color: white;
}

.contact-info p {
    text-align: center;
    color: white;
    line-height: 1.5;
}
footer {
    margin-top: 165%;
    background-color: #262d19;
    padding: 1%;
}
